@font-face {
	font-family: 'Raleway';
	src: url('../css/font/Raleway-Regular.woff2') format('woff2'),
		 url('../css/font/Raleway-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'RalewayBold';
	src: url('../css/font/Raleway-SemiBold.woff2') format('woff2'),
		 url('../css/font/Raleway-SemiBold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}